* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    color: #1c1c1c;
}

*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    /* height: 100vh; */
    min-height: 100%; /* 모바일화면은 이걸로 해야하지 않나요?(모름) */
    background-color: #F6F8F8;
    font-size: 16px; /* 기본 폰트 사이즈 */
    /* 텍스트 렌더링 최적화 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

/* 리액트는 body 보다 #root를 더 권장합니다
body 를 사용해도 되지만 꼬일 가능성이 높음!
배경색, 기본 폰트 같이 기본적인것들은
body에 써도 괜찮지만 웬만하면 #root에 쓰는게
안전하다고 배웠읍니다 */
/* body {
    width: 100%;
    min-width: 1260px;
    background-color: #F6F8F8;
} */
#root {
    width: 100%;
    /* min-width: 1260px; */ /* 요거 height 아닌가요?*/
    min-height: 1260px;
    background-color: #F6F8F8;
    display: flex;
    flex-direction: column;
}

img,
svg {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #1c1c1c;
    cursor: pointer;
}

i {
    font-style: normal;
    /* display: block; */
}

em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

input{
    padding: 0 5px;
    outline: 0;
    border: 0;
    /* border-bottom: 1px solid#1c1c1c; */
}
input::placeholder{
    color: #9d9d9d;
}

select{
    padding: 4px 5px;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s;
}
