/* 헤더 css */
#root header {
  /* #root 이건 붙여도되고 안붙여도 되긴해요...*/
  width: 100%;
  padding: 16px 0;
  text-align: center;
  position: relative;
}
header a {
  display: inline-block;
  width: 201px;
}
header button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

header svg {
  /* 령경 추가 - 확인하시면 지우셔도돼요 */
  width: 30px;
  stroke: #1340a2;
}

/* ---------------- 푸터---------------- */
#root footer {
  text-align: center;
  margin-top: 120px; /* 하단 여백 */
}

#root footer p {
  display: inline-block;
  position: relative;
  /* bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
  width: 100%;
  color: #999;
  padding: 30px;
}

#root footer p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border: 1px solid #dadada;
}

/* ---------------- 회원가입 ---------------- */
/* 회원가입 전체 */
#root .joinContainer form {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
/* 회원가입 타이틀 */
#root .joinContainer h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* 입력 폼 공통 서식 */
#root .joinContainer form table {
  width: 100%;
}
#root .joinContainer form table tbody {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
#root .joinContainer form table tbody tr td {
  display: block;
  padding: 5px 0;
  font-size: 17px;
  position: relative;
}
#root .joinContainer form table tbody tr td .requiredMark {
  color: #d31616;
}
#root .joinContainer form table tbody tr td > input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #aeaeae;
  font-size: 16px;
}

/* 중복확인 버튼 */
#root .joinContainer form table tbody tr td .checkDuplicateBtn {
  position: absolute;
  right: 0;
  background-color: #1340a2;
  color: #fff;
  padding: 8px 13px;
  border-radius: 5px;
}
#root .joinContainer form table tbody tr td .checkDuplicateBtn:hover {
  background-color: #062b7a;
}

/* 비밀번호 힌트 */
#root .joinContainer form table tbody tr td .pwHint {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 15px;
}
#root .joinContainer form table tbody tr td .pwHint .pwStatusMessage {
  display: flex;
  align-content: center;
}
/* svg 공통 */
#root .joinContainer form table tbody tr td .pwHint .pwStatusMessage svg {
  width: 18px;
  margin-right: 5px;
}
/* 비밀번호 힌트 - 6자 이상 */
#root .joinContainer form table tbody tr td .pwHint .false svg {
  stroke: #d31616;
}
#root .joinContainer form table tbody tr td .pwHint .false p {
  color: #d31616;
}
/* 비밀번호 힌트 - 영문, 숫자 포함 */
#root .joinContainer form table tbody tr td .pwHint .true svg {
  stroke: #11a11b;
}
#root .joinContainer form table tbody tr td .pwHint .true p {
  color: #11a11b;
}

/* 약관동의 */
#root .joinContainer form table tbody .termsContainer .termsList ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .joinContainer form table tbody .termsContainer .termsList ul li {
  display: flex;
  align-items: center;
}
#root .joinContainer form table tbody .termsContainer .termsList ul .termsItem {
  flex-direction: column;
  align-items: flex-start;
}

#root .joinContainer form table tbody .termsContainer .termsList ul li input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
}

/* 약관 체크박스, 타이틀, 더보기 div */
#root .joinContainer .termsMainRow {
  width: 100%;
  display: flex;
  align-items: center;
}

/* 약관 더보기 버튼 */
#root .joinContainer .viewDetailBtn {
  margin-left: auto;
}

/* 약관 상세 div */
#root .joinContainer .termsScrollBox {
  width: 92%;
  font-size: 15px;
  border-top: 1px solid #e1e1e1;
  white-space: pre-wrap;
  transition: 0.3s;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
}
#root .joinContainer .termsScrollBox.show {
  opacity: 1;
  margin: 10px 0 30px 30px;
  padding-top: 10px;
  max-height: 100px;
}

/* 마우스 올렸을 때 테두리 색상 변경 */
/* #root .joinContainer form table tbody .termsContainer .termsList ul li input[type="checkbox"]:hover {
  border-color: #1340a2;
} */

/* 체크되었을 때 스타일 */
#root
  .joinContainer
  form
  table
  tbody
  .termsContainer
  .termsList
  ul
  li
  input[type="checkbox"]:checked {
  background-color: #1340a2;
  border-color: #1340a2;
}

/* 체크 아이콘 */
#root
  .joinContainer
  form
  table
  tbody
  .termsContainer
  .termsList
  ul
  li
  input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0; /* ㄴ 자 모양을 만들어서 회전시킴 */
}

/* 라벨 텍스트 정렬 */
#root .joinContainer form table tbody .termsContainer .termsList ul li label {
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
}

/* 가입하기 버튼 */
#root .joinContainer .joinBtn {
  display: block;
  background-color: #1340a2;
  color: #fff;
  padding: 8px 13px;
  border-radius: 5px;
  margin: 0 auto;
}

#root .joinContainer .joinBtn:hover {
  background-color: #062b7a;
}
